.title-icon {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.title-icon::before  {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-color: $interface-grey;
}

h2.title-icon {
    @include media-breakpoint-up(md) { gap: 1rem; }
}

.title-icon + p {
    margin-top: 0.5rem;
}

.title-icon.aboriginal-flag::before {
    content: ''; // 'First Nations content';
    background-image: url('https://www.rmit.edu.au/content/dam/rmit/au/en/news/homepage/flag-red.png');

    //due to copyright / licencing restrictions, the flag needs to be displayed in full
    width: 54px;
    height: 36px;
    border-radius: 0;
}

// Dark Mode
@include color-mode(dark) {
    .title-icon.aboriginal-flag::before {
        outline: 2px solid #444;
    }
}

.title-icon.torres-strait-flag::before {
    content: ''; // 'Torres Strait Island content';
    background-image: url('https://www.rmit.edu.au/content/dam/rmit/au/en/news/homepage/flag-green.png');
}

.title-icon.quiz-icon::before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E   %3Ccircle cx='20' cy='20' r='19.5' fill='%23000054'/%3E   %3Cpath d='M19.8,24.2c-1.7,0-3-1.3-3-3v-1.3c0-2.3,1.4-4.2,3.6-4.9.7-.2,1.2-.9,1.2-1.7,0-.9-.8-1.7-1.7-1.7-.4,0-.9.2-1.3.5-.3.3-.5.8-.5,1.2,0,1.7-1.3,3-3,3s-3-1.3-3-3,.8-4.1,2.3-5.5c1.5-1.5,3.5-2.2,5.6-2.2,4.2,0,7.6,3.5,7.6,7.6,0,3.2-1.8,6-4.7,7.3v.8c0,1.7-1.3,3-3,3ZM19.8,26.3c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5,3.5-1.6,3.5-3.5-1.6-3.5-3.5-3.5Z' fill='%23ffffff'/%3E %3C/svg%3E");
}

.card {
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4,.h5, .h6 {
        color: $body-color
    }
}

// Dark Mode
@include color-mode(dark) {
    .title-icon.quiz-icon::before {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E   %3Ccircle cx='20' cy='20' r='19.5' fill='%236FB7FF'/%3E   %3Cpath d='M19.8,24.2c-1.7,0-3-1.3-3-3v-1.3c0-2.3,1.4-4.2,3.6-4.9.7-.2,1.2-.9,1.2-1.7,0-.9-.8-1.7-1.7-1.7-.4,0-.9.2-1.3.5-.3.3-.5.8-.5,1.2,0,1.7-1.3,3-3,3s-3-1.3-3-3,.8-4.1,2.3-5.5c1.5-1.5,3.5-2.2,5.6-2.2,4.2,0,7.6,3.5,7.6,7.6,0,3.2-1.8,6-4.7,7.3v.8c0,1.7-1.3,3-3,3ZM19.8,26.3c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5,3.5-1.6,3.5-3.5-1.6-3.5-3.5-3.5Z' fill='%23ffffff'/%3E %3C/svg%3E");
    }

    .card {
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $headings-color-dark;
        }
    }
}





/* 
&.bronze::before {
    background-image: url(../images/star-bronze@2x.png);
}

&.silver::before {
    background-image: url(../images/star-silver@2x.png);
}

&.gold::before {
    background-image: url(../images/star-gold@2x.png);
} */