//stops the wordpress admin bar from covering content
/*
.nav-fixed {
    #wp-admin-bar-root-default {
        top: -1.5rem !important;
    } 
}
*/

aside.visually-hidden-focusable div {
    padding: 16px 24px;
    
    @include do-space(margin-top, sm);
    @include do-space(margin-bottom, sm);
    
    border: 2px solid $red;
    
    & > :first-child {
        margin-top: 0;
    }
    
    & > :last-child {
        margin-bottom: 0;
    }
}

//Style sidenote to resemble a blockquote

.sidenote img, .marginnote img { 
    max-width: 300px !important;
}

.sidenote {
	display: block;
    width: 50%;
    font-size: 0.9em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #ccc;
	
    //set responsive padding and margins for blockquote
    @include do-space(margin-top, md); 
    @include do-space(margin-bottom, md);
    
    @include do-space(padding-top, sm); 
    @include do-space(padding-bottom, sm); 
    
    @include do-space(padding-left, md); 
    @include do-space(padding-right, md); 
    
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.25rem solid $accent-color;

    background-color: var(--bs-primary-bg-subtle);
	
}

.marginnote { 
    float: right;
    width: 300px;
    font-size: 0.9em;
    margin: 0 0 1em 2em;
}

.sidenote-number, .margin-toggle {
    display: none; 
}

// Dark mode
@include color-mode(dark) {
	
    .sidenote {
		border-left: 0.25rem solid $accent-color-dark;
	}
}

// Override .btn-nav-container styles to remove border-bottom at large breakpoints, 
// due to the presence of keywords on every page.

// Previous and next buttons
.btn-nav-container {
	//At a large breakpoint, add in a seperator line
    @include media-breakpoint-down(xl) {
        border: 0;
        padding: 0;
    }
}

//wrapper to align embed button to right of keywords (remove at small screen sizes
.keyword-embed-contain {
    display: flex;
    justify-content: space-between;

    .keywords { margin: 0; }

    @include media-breakpoint-down(md) {
        .btn-embed { display: none; }
    }
}

.btn-embed {
    flex-shrink: 0;
}

// Legacy content: colour legend layout
.colorBox {
	padding: 10px;
	margin: 10px 0px;
}

.legends {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;

	div, button {
		padding: 2px 5px;
		width: 90%;
		margin: 5px auto 10px auto;
		border-radius: 5px;
	}
}

// Legacy content: book page menu
.media {
	clear: both;
}

.media-menu {
	.media-body {
		border-bottom: 1px solid var(--grey-rmit);
		padding-left: 40px;
		display: block;
		width: 95%;
		padding-top: 20px;
		background-repeat: no-repeat;
		background-position: 0 25px;
	}

	h3 { color: var(--blue-rmit); }
	a { font-weight: bold; }
	a.plain { font-weight: normal; }
}

.media-body:last-of-type {
	border-bottom: none;
}

// Legacy content: maths PDF download link
a.mathspdf {
	&:link, &:active, &:hover, &:visited, &:focus {
		color: #fff !important;
		margin-top: 40px;
		padding: 10px;
		background: #222160;
		display: inline-block;
	}
	&:link, &:visited { text-decoration: none !important; }
	&:hover, &:active, &:focus { text-decoration: underline !important; }
}

//consider moving this to a new scss file
.title-icon.maths-in-context::before {
    content: ''; // 'Maths in context';
    background-image: url('https://rmitlibrary.github.io/cdn/learninglab/illustration/subject-support/maths-and-statistics/maths-context-icon-pie.png');
}