// Temporary fix for MathJax 4.0 not working in older browsers like Safari 17.
// This fix will be removed once MathJax 4.1 is released, which includes the fix.

mjx-mo > mjx-c,
mjx-mi > mjx-c,
mjx-mn > mjx-c,
mjx-ms > mjx-c,
mjx-mtext > mjx-c {
  clip-path: padding-box
    polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px)) !important;
}
mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px)) !important;
}
mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%) !important;
}
mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em)) !important;
}
mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%) !important;
}
